<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Arbol AVL </title>
        <style type="text/css">
            .ui-diagram-element {   
                width:8em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 2em;
                border: 1px solid transparent;
                background-color: #98AFC7;
                color: #20282b;
            }

            .ui-diagram-success {
                background-color: #9CB071;
                color: #ffffff;
                border-color: #7ab02c;
            }

            .ui-diagram-fail {
                background-color: #C34A2C;
                color: #ffffff;
            }

            .flow-label {
                font-size: 24px;
                font-weight: bold;
                color: #816A51;
            }
        </style>
    </h:head>
    <h:body>
        <h:form id="frmInfantesAbb">
            <p:growl id="pgwErrores"/>
            <p:commandButton value="Regresar" action="regresar" immediate="true"/>
            <p:panel id="pnlDatosInfante" header="Agregar Nuevo Infante" rendered="#{controladorAVL.verRegistrar}">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Número Identificación"/>
                    <p:inputText value="#{controladorAVL.infante.nroIdentificacion}" required="true"/>                    
                    <p:outputLabel value="Nombre" />
                    <p:inputText required="true" value="#{controladorAVL.infante.nombre}"/>
                    <p:outputLabel value="Edad"/>
                    <p:spinner min="1" max="7" value="#{controladorAVL.infante.edad}"/>
                    <p:outputLabel  value="Localidad"/> 
                    <p:selectOneMenu required="true" value="#{controladorAVL.infante.localidad.codigo}">
                        <f:selectItems value="#{controladorAVL.localidades}"
                                       var="loc" itemLabel="#{loc.nombre}"
                                       itemValue="#{loc.codigo}" />
                    </p:selectOneMenu>
                    <p:commandButton value="Guardar"  ajax="false"
                                     action="#{controladorAVL.guardarInfante()}"
                                     update="pnlBotones,pnlDatosVehiculo,pnlErrores"/>
                    <p:commandButton value="Cancelar" action="#{controladorAVL.cancelarGuardar()}"
                                     update="pnlBotones" ajax="false"/>  
                </p:panelGrid>
            </p:panel>

            <p:panel rendered="#{!controladorAVL.verRegistrar}">
                <p:panel id="pnlDiagram" header="Arbol AVL..... existen #{controladorAVL.arbol.cantidadNodos} Intantes">
                    <p:diagram value="#{controladorAVL.model}" 
                               id="diagrama" style="height:350px" styleClass="ui-widget-content" />
                </p:panel>

                <h:panelGroup layout="block" id="pnlBotones">
                    <p:commandButton  ajax="false" value="Nuevo" action="#{controladorAVL.habilitarVerRegistrar()}" 
                                      update="pnlBotones,pnlDatosInfante" />
                    <p:commandButton  ajax="false" value="Mostrar ordemamientos"  action="#{controladorAVL.habilitarTablas()}" 
                                      update="pnlBotones,pnlDatosInfante" />
                    <p:commandButton value="Listar hojas arbol" ajax="false" action="#{controladorAVL.habilitarlistarHojas()}"
                                     update="pnlBotones,pnlDatosInfante"
                                     />
                    <p:commandButton value="Podar arbol" ajax="false" action="#{controladorAVL.podarArbol()}"
                                     update="pnlBotones,pnlDatosInfante"/>
                    <p:commandButton value="Borrar Mayor" ajax="false" action="#{controladorAVL.borrarMayor()}"
                                     update="pnlBotones,pnlDatosInfante"/>
                    <p:commandButton value="Borrar Menor" ajax="false"  action="#{controladorAVL.borrarMenor()}" 
                                     update="pnlBotones,pnlDatosInfante"/>
                    <p:commandButton value="Balancear" action="#{controladorAVL.balancear()}"
                                     update="@all" ajax="false"/>

                    <br/>
                    <p:commandButton value="Eliminar Infante" ajax="true"  action="#{controladorAVL.eliminarInfante()}"
                                     update="@all"/>
                    <p:inputText value="#{controladorAVL.borrarInfanteIdentificacion}" style="width: 90px" />
                    <p:commandButton  ajax="false" value="Buscar edades iguales"  update="@all" />
                    <p:inputText value="#{controladorAVL.edad}"  style="width: 50px" />
                    <p:commandButton value="Buscar por letra"  ajax="false" action="#{controladorAVL.habilitarListarXLetra()}"
                                     update="buscar,pnlBotones,pnlDatosInfante" 
                                     />
                    <p:inputText value="#{controladorAVL.letra}" style="width: 50px"/>
                    <p:commandButton value="Buscar padre" ajax="false" action="#{controladorAVL.habilitarPadre()}"
                                     />
                    <p:inputText value="#{controladorAVL.buscarPadre}" style="width: 50px" />
                    <br></br>
                    <br></br>
                    <p:outputLabel value="Los niños que tienen la misma edad son: #{controladorAVL.arbol.buscarEdadIguales(controladorAVL.edad)}" />
                    <br></br>
                    <p:outputLabel value="Edad menor de los infantes es: #{controladorAVL.buscarMenor()} #{controladorAVL.menorEdad}"  />
                    <br></br> 
                    <p:outputLabel value="La suma de las edades es: #{controladorAVL.sumarEdades()} #{controladorAVL.sumaEdades} "  />
                    <br>
                        <p:outputLabel value="El promedio de las edades es: #{controladorAVL.calcularPromedioEdades()} #{controladorAVL.promedioEdades}" />
                    </br>
                    <p:outputLabel value="La Ramas son:: #{controladorAVL.arbol.obtenerRamaMayor()}"  />
                    <br></br>
                </h:panelGroup>

                <p:panel rendered="#{controladorAVL.mostrarReco}">
                    <p:panel header="Recorrido InOrden" rendered="#{!ControladorAVL.arbol.esVacio()}">
                        <p:dataTable value="#{controladorAVL.arbol.recorrerInOrden()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Numero Identificacion"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Nombre"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Edad Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.edad}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>

                    <p:panel header="Recorrido PreOrden" rendered="#{!ControladorAVL.arbol.esVacio()}" >
                        <p:dataTable value="#{controladorAVL.arbol.recorrerPreOrden()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Numero Identificacion"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Nombre Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Edad Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.edad}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>

                    <p:panel header="Recorrido PostOrden" rendered="#{!ControladorAVL.arbol.esVacio()}" >
                        <p:dataTable value="#{controladorAVL.arbol.recorrerPostOrden()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Numero Identificacion"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Nombre Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Edad Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.edad}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </p:panel>

                <p:panel header="Lista Hojas del Arból" rendered="#{controladorAVL.mostrarLista  and !controladorAVL.arbol.esVacio()}">
                    <p:dataTable value="#{controladorAVL.arbol.listarHojas()}"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Numero Identificacion"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.edad}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>

                <p:panel header="Lista de infantes por Letra" id="buscar" rendered="#{controladorAVL.mostrarInfantesXLetra and !controladorAVL.arbol.esVacio()} ">
                    <p:dataTable value="#{controladorAVL.arbol.buscarInfantexLetra(controladorAVL.letra)}" emptyMessage="No hay Infantes con esa Letra"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Numero Identificacion"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.edad}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>

                <p:panel header="Padre del infante " id="padre" rendered="#{controladorAVL.mostrarPadreInfantes and !controladorAVL.arbol.esVacio()}">
                    <p:dataTable value="#{controladorAVL.arbol.buscarPadre(controladorAVL.buscarPadre)}"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Numero Identificacion"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.edad}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:panel>

            <p:remoteCommand name="elementClickRight" 
                             actionListener="#{controladorAVL.onClickRight()}" >
            </p:remoteCommand>

            <script>
                $(document).ready(function () {
                    $('.ui-diagram > .ui-diagram-element').mousedown(function (info) {
                        if (info.which === 3) {
                            elementClickRight([{
                                    name: 'elementId',
                                    value: info.target.id
                                }]);
                        }
                    });
                });
            </script>

            <p:contextMenu for="pnlDiagram" id="pnCmVeh" 
                           targetFilter=".ui-diagram-element" >
                <p:menuitem value="Eliminar" update="@all"
                            ajax="false" icon="ui-icon-disk" 
                            action="#{controladorAVL.eliminarInfanteMenuContext()}"/>
            </p:contextMenu>



        </h:form>
    </h:body>
</html>
