<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Juego Batalla Naval</title>

    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pgwErrores"/>
            <p:panel id="pnltablero" header="Tablero" >
                <c:forEach var="fila" begin="1" end="#{controladorBatalla.obtenerTamanoTablero()}">
                    <c:forEach var="columna" begin="1" end="#{controladorBatalla.obtenerTamanoTablero()}">
                        <p:commandButton value="" 
                                         style="#{controladorBatalla.pintarBarcosJ1(fila, columna)}"
                                         disabled="#{controladorBatalla.disparoContrincanteJ2(fila, columna)}"
                                         />
                    </c:forEach>
                    <br/>
                </c:forEach>
            </p:panel>
            <p:panel id="pnltablero2"  header="Tablero" >
                <c:forEach var="fila" begin="1" end="#{controladorBatalla.obtenerTamanoTablero()}">
                    <c:forEach var="columna" begin="1" end="#{controladorBatalla.obtenerTamanoTablero()}">
                        <p:commandButton value=""
                                         style="width:20px; height: 20px; background-color: blue;"
                                         disabled="#{controladorBatalla.disparoContrincanteJ1(fila, columna)}"
                                         action="#{controladorBatalla.dispararContrincanteJ1(fila, columna)}"
                                         update="pnltablero2 pgwErrores"
                                         ajax="false"/>
                    </c:forEach>
                    <br/>
                </c:forEach>
            </p:panel>
        </h:form>
    </h:body>
</html>
