<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Juego Batalla Naval</title>

    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pgwErrores"/>
            <p:panel   header="Gestionar Naves"  
                       rendered="#{!controladorBatalla.enPosicionar}"
                       style=" width: 800px; height:400px;  margin: 100px auto; border-color:#063261; border-width:3px; text-align: center"  >

                <p:panel header="Barcos" rendered="#{!controladorBatalla.arbolTipoBarco.esVacio()}"  
                         style=" width: 650px; height:220px;">
                    <p:dataTable value="#{controladorBatalla.arbolTipoBarco.recorrerInOrden()}" 
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Casillas"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.numeroCasillas}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Cantidad Juego"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.cantidadJuego}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
                <h:panelGroup layout="block" id="pnlBotones">
                    <p:commandButton value="Posicionar Naves" 
                                     action="#{controladorBatalla.habilitarposicionar()}"
                                     update="@all" ajax="false"/> 
                    <br/>
                    <br>
                        <p:commandButton value="Volver" action="volver"/>
                    </br>
                </h:panelGroup>
            </p:panel>


            <p:panel id="pnltablero" rendered="#{controladorBatalla.enPosicionar}" 
                     header="Tablero" >
                <c:forEach var="fila" begin="1" end="#{controladorBatalla.obtenerTamanoTablero()}">
                    <c:forEach var="columna" begin="1" end="#{controladorBatalla.obtenerTamanoTablero()}">
                        <p:commandButton value="" 
                                         style="#{controladorBatalla.pintarBarcosJ1(fila, columna)}"
                                         disabled="true"
                                         />
                    </c:forEach>
                    <br/>
                </c:forEach>
            </p:panel>

            <p:panel header="Posicionar barcos "
                     rendered="#{controladorBatalla.enPosicionar}">
                <p:panelGrid columns="2" rendered="#{!controladorBatalla.habilitarJugar()}"> 
                    <p:outputLabel  value="Barcos"/> 
                    <p:selectOneMenu  id="menuBar"
                                      value="#{controladorBatalla.idBarcoJ1}">
                        <f:selectItems value="#{controladorBatalla.arbolBarcoPosicionadoJ1.listaBarcosNoPosicionados()}"
                                       var="barco" 
                                       itemLabel="#{barco.getId()}"
                                       itemValue="#{barco.id}" />
                    </p:selectOneMenu>

                    <p:outputLabel  value="Orientacion"/> 
                    <p:selectOneMenu value="#{controladorBatalla.orientacionBarcoPosicionadoJ1}">
                        <f:selectItems value="#{controladorBatalla.orientaciones}" 
                                       var="orientacion" itemLabel="#{orientacion}" 
                                       itemValue="#{orientacion}" />
                    </p:selectOneMenu>

                    <p:outputLabel  value="Posicion en  x"/> 
                    <p:spinner min="1" max="#{controladorBatalla.obtenerTamanoTablero()}" value="#{controladorBatalla.posicionEnXJ1}"/>
                    <p:outputLabel  value="Posicion en  y"/> 
                    <p:spinner min="1" max="#{controladorBatalla.obtenerTamanoTablero()}" value="#{controladorBatalla.posicionEnYJ1}"/>
                    <p:commandButton value="Posicionar Barco" 
                                     action="#{controladorBatalla.posicionarBarcoJ1()}"
                                     update="@all"/>
                </p:panelGrid> 
                <p:commandButton value="Ir a Jugar"
                                 action="irajugar" 
                                 rendered="#{controladorBatalla.habilitarJugar()}"
                                 />

            </p:panel>
        </h:form>

    </h:body>
</html>
