<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Arbol N-ario</title>
          <style type="text/css">
            .ui-diagram-element {   
                width:6em; 
                height:3em;     
                line-height:4em;
                font-size: 12px;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 2em;
                border: 1px solid transparent;
                background-color: #98AFC7;
                color: #ffffff;
            }


            .ui-diagram-success {
                background-color: #9CB071;
                color: #ffffff;
                border-color: #7ab02c;
            }

            .ui-diagram-fail {
                background-color: #C34A2C;
                color: #ffffff;
            }

            .flow-label {
                font-size: 24px;
                font-weight: bold;
                color: #816A51;
            }
        </style>
    </h:head>
    <h:body>
        <h:form id="frmInfantesArboln">
            <p:growl id="pgwErroresArbolN"/>
            <p:commandButton value="Regresar" action="regresar" immediate="true" ajax="false"/>
            <p:panel id="pnlDatosInfante" header="Agregar Infante" rendered="#{controladorArbolN.verRegistrar}">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Número Identificación"/>
                    <p:inputText value="#{controladorArbolN.infante.nroIdentificacion}" required="true"/>                    
                    <p:outputLabel value="Nombre" />
                    <p:inputText required="true" value="#{controladorArbolN.infante.nombre}"/>
                    <p:outputLabel value="Edad"/>
                    <p:spinner min="1" max="7" value="#{controladorArbolN.infante.edad}"/>
                    <p:outputLabel  value="Localidad"/> 
                    <p:selectOneMenu required="true" value="#{controladorArbolN.infante.localidad.codigo}">
                        <f:selectItems value="#{controladorABB.localidades}"
                                       var="loc" 
                                       itemLabel="#{loc.nombre}"
                                       itemValue="#{loc.codigo}" />
                    </p:selectOneMenu>
                    <p:outputLabel value="N°Identificacion Padre" />
                    <p:inputText required="true" value="#{controladorArbolN.identificacionPadre}"/>
                    <p:commandButton value="Guardar"  ajax="false"
                                     action="#{controladorArbolN.guardarInfante()}"
                                     update="pnlBotones,pnlDatosInfante,pgwErroresArbolN"/>
                    <p:commandButton value="Cancelar" action="#{controladorABB.cancelarGuardar()}"
                                     update="pnlBotones" ajax="false"/>  
                </p:panelGrid>
            </p:panel>

            <p:panel rendered="#{!controladorArbolN.verRegistrar}">
                <p:panel  id="pnlDiagram" header="Arbol N - Ario..... ">
                    <p:diagram value="#{controladorArbolN.model}" 
                              id="diagrama" style="height:400px; width: 1200px" styleClass="ui-widget-content" />
                </p:panel>
                <h:panelGroup layout="block" id="pnlBotones">
                    <p:commandButton  ajax="false" value="Nuevo" action="#{controladorArbolN.habilitarVerRegistrar()}" 
                                      update="pnlBotones,pnlDatosInfante" />
                    <p:commandButton  ajax="false" value="Cargar Arbol" action="#{controladorArbolN.cargarArbol()}" 
                                      update="@all" />
                    <p:commandButton  ajax="false" value=" intercambiar hijos" action="#{controladorArbolN.intercambiar()}" 
                                      update="@all" />
                    <p:inputText value="#{controladorArbolN.identificacionPadre}" size="2"/>
                    <p:inputText value="#{controladorArbolN.identificacionPadre2}" size="2"/>
                </h:panelGroup>
            </p:panel> 
            
            
            <p:remoteCommand name="elementClickRight" 
                             actionListener="#{controladorArbolN.onClickRight()}" 
                             >
            </p:remoteCommand>
            <script>
                $(document).ready(function () {
                    $('.ui-diagram > .ui-diagram-element').mousedown(function (info) {
                        if (info.which === 3) {
                            elementClickRight([{
                                    name: 'elementId',
                                    value: info.target.id
                                }]);

                        }
                    });
                });
            </script>



            <p:contextMenu for="pnlDiagram" id="pnCmVeh" 
                           targetFilter=".ui-diagram-element" >
                <p:menuitem value="Eliminar" update="@all"
                            ajax="false" icon="ui-icon-disk" 
                            action="#{controladorArbolN.eliminarInfanteMenuContext()}"
                            />

            </p:contextMenu>
        </h:form>
    </h:body>
</html>

