<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Juego Batalla Naval</title>
        
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pgwErrores"/>
            <p:panel>
                <p:panel id="pnlDatosNaves" header="Añadir Nave" rendered="#{controladorBatalla.enNuevo}" style=" width: 800px; height:400px;  margin: 100px auto; border-color:#063261; border-width:3px; text-align: center"  >
                    <p:panelGrid columns="2" style="margin: 50px">
                        <p:outputLabel value="Nombre"/>
                        <p:inputText value="#{controladorBatalla.tipoBarco.nombre}" required="true"/>                    
                        <p:outputLabel value="Numero de casillas" />
                        <p:inputText value="#{controladorBatalla.tipoBarco.numeroCasillas}" required="true"/>
                        <p:outputLabel value="Cantidad de naves" />
                        <p:inputText value="#{controladorBatalla.tipoBarco.cantidadJuego}" required="true"/>

                        <p:commandButton value="Guardar" update="pnlErrores,pnlBotones,pnlDatosNave" ajax="false"
                                         action="#{controladorBatalla.guardarNave()}"/>
                        <p:commandButton value="Cancelar " action="#{controladorBatalla.cancelarGuardar()}" 
                                         update="pnlBotones,pnlDatosNave" ajax="false"/>  
                    </p:panelGrid>
                </p:panel>


                <p:panel rendered="#{!controladorBatalla.enNuevo}">
                    <p:panel header="Gestionar Naves"  style=" width: 800px; height:400px;  margin: 100px auto; border-color:#063261; border-width:3px; text-align: center"  >

                        <p:panel header="Barcos" rendered="#{!controladorBatalla.arbolTipoBarco.esVacio()}"  
                                 style=" width: 650px; height:220px;">
                            <p:dataTable value="#{controladorBatalla.arbolTipoBarco.recorrerInOrden()}" 
                                         var="filaIn">
                                <p:column>
                                    <f:facet name="header">
                                        <p:outputLabel value="Nombre"/>
                                    </f:facet>
                                    <p:outputLabel value="#{filaIn.nombre}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:outputLabel value="Casillas"/>
                                    </f:facet>
                                    <p:outputLabel value="#{filaIn.numeroCasillas}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:outputLabel value="Cantidad Juego"/>
                                    </f:facet>
                                    <p:outputLabel value="#{filaIn.cantidadJuego}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panel>
                        <h:panelGroup layout="block" id="pnlBotones">
                            <p:commandButton value="Nuevo Barco" action="#{controladorBatalla.habilitarVerRegistrar()}" 
                                             update="pnlBotones,pnlDatosNave" ajax="false"/> 
                            <p:commandButton value="Eliminar por casillas"  update="@ll" ajax="false" 
                                             action="#{controladorBatalla.eliminarNave()}"
                                              rendered="#{!controladorBatalla.arbolTipoBarco.esVacio()}"/>
                            <p:inputText value="#{controladorBatalla.buscarTipoBarcoxCasilla}" size="2"
                                          rendered="#{!controladorBatalla.arbolTipoBarco.esVacio()}"/>  
                             <p:commandButton value="volver login" action="volver" 
                                             update="pnlBotones,pnlDatosNave" ajax="false"/> 
                        </h:panelGroup> 
                    </p:panel>
                </p:panel>

            </p:panel>
           
        </h:form>

    </h:body>
</html>

