<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Arbol Binario de Búsqueda </title>
        <style type="text/css">
            .ui-diagram-element {   
                width:8em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 2em;
                border: 1px solid transparent;
                background-color: #98AFC7;
                color: #ffffff;
            }

            .ui-diagram-success {
                background-color: #9CB071;
                color: #ffffff;
                border-color: #7ab02c;
            }

            .ui-diagram-fail {
                background-color: #C34A2C;
                color: #ffffff;
            }

            .flow-label {
                font-size: 24px;
                font-weight: bold;
                color: #816A51;
            }
        </style>
    </h:head>
    <h:body>
        <h:form id="frmInfantesAbb">
            <p:growl id="pgwErrores"/>
            <p:commandButton value="Regresar" action="regresar" immediate="true"/>
            <p:panel id="pnlDatosInfante" header="Agregar Infante" rendered="#{controladorABB.verRegistrar}">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Número Identificación"/>
                    <p:inputText value="#{controladorABB.infante.nroIdentificacion}" required="true"/>                    
                    <p:outputLabel value="Nombre" />
                    <p:inputText required="true" value="#{controladorABB.infante.nombre}"/>
                    <p:outputLabel value="Edad"/>
                    <p:spinner min="1" max="7" value="#{controladorABB.infante.edad}"/>
                    <p:outputLabel  value="Localidad"/> 
                    <p:selectOneMenu required="true" value="#{controladorABB.infante.localidad.codigo}">
                        <f:selectItems value="#{controladorABB.localidades}"
                                       var="loc" itemLabel="#{loc.nombre}"
                                       itemValue="#{loc.codigo}" />
                    </p:selectOneMenu>
                    <p:commandButton value="Guardar"  ajax="false"
                                     action="#{controladorABB.guardarInfante()}"
                                     update="pnlBotones,pnlDatosVehiculo,pnlErrores"/>
                    <p:commandButton value="Cancelar" action="#{controladorABB.cancelarGuardar()}"
                                     update="pnlBotones" ajax="false"/>  
                </p:panelGrid>
            </p:panel>

            <p:panel rendered="#{!controladorABB.verRegistrar}">
                <p:panel id="pnlDiagram" header="Arbol Binario de Busqueda..... existen #{controladorABB.arbol.cantidadNodos} Intantes" >
                    <p:diagram value="#{controladorABB.model}" 
                               id="diagrama" style="height:350px" styleClass="ui-widget-content" />
                </p:panel>

                <h:panelGroup layout="block" id="pnlBotones">
                    <p:commandButton  ajax="false" value="Nuevo" action="#{controladorABB.habilitarVerRegistrar()}" 
                                      update="pnlBotones,pnlDatosInfante" />
                    <p:commandButton  ajax="false" value="Mostrar ordemamientos"  action="#{controladorABB.habilitarTablas()}" 
                                      update="pnlBotones,pnlDatosInfante" />
                    <p:commandButton value="Listar hojas arbol" ajax="false" action="#{controladorABB.habilitarlistarHojas()}"
                                     update="pnlBotones,pnlDatosInfante"
                                     rendered="#{!controladorABB.arbol.esVacio()}"/>
                    <p:commandButton value="Podar arbol" ajax="false" action="#{controladorABB.podarArbol()}"
                                     update="pnlBotones,pnlDatosInfante"/>
                    <p:commandButton value="Borrar Mayor" ajax="false" action="#{controladorABB.borrarMayor()}"
                                     update="pnlBotones,pnlDatosInfante"/>
                    <p:commandButton value="Borrar Menor" ajax="false"  action="#{controladorABB.borrarMenor()}" 
                                     update="pnlBotones,pnlDatosInfante"/>
                    <p:commandButton value="Cambiar Valores" ajax="false"  action="#{controladorABB.cambiarValores()}" 
                                     update="@all"/>
                    <br/>
                    <p:commandButton value="Eliminar Infante" ajax="true"  action="#{controladorABB.eliminarInfante()}"
                                     update="@all"/>
                    <p:inputText value="#{controladorABB.borrarInfanteIdentificacion}" style="width: 90px" />
                    <p:commandButton  ajax="false" value="Buscar edades iguales"  update="@all" />
                    <p:inputText value="#{controladorABB.edad}"  style="width: 50px" />
                    <p:commandButton value="Buscar por letra"  ajax="false" action="#{controladorABB.habilitarListarXLetra()}"
                                     update="buscar,pnlBotones,pnlDatosInfante" 
                                     rendered="#{!controladorABB.arbol.esVacio()}" />
                    <p:inputText value="#{controladorABB.letra}" style="width: 50px"/>
                    <p:commandButton value="Buscar padre" ajax="false" action="#{controladorABB.habilitarPadre()}"
                                     update=""
                                     rendered="#{!controladorABB.arbol.esVacio()}"/>
                    <p:inputText value="#{controladorABB.buscarPadre}" style="width: 50px" />
                    <br></br>
                    <br></br>
                    <p:outputLabel value="Los niños que tienen la misma edad son: #{controladorABB.arbol.buscarEdadIguales(controladorABB.edad)}" />
                    <br></br>
                    <p:outputLabel value="Edad menor de los infantes es: #{controladorABB.buscarMenor()} #{controladorABB.menorEdad}"  />
                    <br></br> 
                    <p:outputLabel value="La suma de las edades es: #{controladorABB.sumarEdades()} #{controladorABB.sumaEdades} "  />
                    <br>
                        <p:outputLabel value="El promedio de las edades es: #{controladorABB.calcularPromedioEdades()} #{controladorABB.promedioEdades}" />
                    </br>
                    <p:outputLabel value="La Ramas son:: #{controladorABB.arbol.obtenerRamaMayor()}"  />
                    <br></br>
                </h:panelGroup>

                <p:panel rendered="#{controladorABB.mostrarReco}">
                    <p:panel header="Recorrido InOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                        <p:dataTable value="#{controladorABB.arbol.recorrerInOrden()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Numero Identificacion"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Nombre"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Edad Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.edad}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>

                    <p:panel header="Recorrido PreOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                        <p:dataTable value="#{controladorABB.arbol.recorrerPreOrden()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Numero Identificacion"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Nombre Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Edad Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.edad}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>

                    <p:panel header="Recorrido PostOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                        <p:dataTable value="#{controladorABB.arbol.recorrerPostOrden()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Numero Identificacion"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Nombre Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Edad Infante"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.edad}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </p:panel>

                <p:panel header="Lista Hojas del Arból" rendered="#{controladorABB.mostrarLista}">
                    <p:dataTable value="#{controladorABB.arbol.listarHojas()}"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Numero Identificacion"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.edad}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>

                <p:panel header="Lista de infantes por Letra" id="buscar" rendered="#{controladorABB.mostrarInfantesXLetra}">
                    <p:dataTable value="#{controladorABB.arbol.buscarInfantexLetra(controladorABB.letra)}" emptyMessage="No hay Infantes con esa Letra"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Numero Identificacion"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.edad}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>

                <p:panel header="Padre del infante " id="padre" rendered="#{controladorABB.mostrarPadreInfantes}">
                    <p:dataTable value="#{controladorABB.arbol.buscarPadre(controladorABB.buscarPadre)}"
                                 var="filaIn">
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Numero Identificacion"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nroIdentificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Nombre Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:outputLabel value="Edad Infante"/>
                            </f:facet>
                            <p:outputLabel value="#{filaIn.edad}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:panel>

            <p:remoteCommand name="elementClickRight" 
                             actionListener="#{controladorABB.onClickRight()}" >
            </p:remoteCommand>
            
            <script>
                $(document).ready(function () {
                    $('.ui-diagram > .ui-diagram-element').mousedown(function (info) {
                        if (info.which === 3) {
                            elementClickRight([{
                                    name: 'elementId',
                                    value: info.target.id
                                }]);
                        }
                    });
                });
            </script>
            
            <p:contextMenu for="pnlDiagram" id="pnCmVeh" 
                           targetFilter=".ui-diagram-element" >
                <p:menuitem value="Eliminar" update="@all"
                            ajax="false" icon="ui-icon-disk" 
                            action="#{controladorABB.eliminarInfanteMenuContext()}"/>
            </p:contextMenu>
        </h:form>
    </h:body>
</html>

