<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Juego Batalla Naval</title>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="pgwErrores"/>
            <p:commandButton value="Regresar" action="regresar" immediate="true" ajax="false"/>
            <p:panel header="Ingresar"  style=" width: 800px; height:400px;  margin: 100px auto; border-color:#063261; border-width:5px; text-align: center" >
               <br style="margin: 30px auto;"> 
                   <p:inputText class="field" type="text" placeholder="Usuario" value="#{controladorBatalla.user}" required="true" style="width: 200px" /> 
                </br>
                <br/>
                <p:inputText class="field" type="password" placeholder="Contraseña" value="#{controladorBatalla.password}" required="true" style="width: 200px"/>
                <br></br>            
                <br/> <br/>
                <p:commandButton action="#{controladorBatalla.validadorLogin()}" class="btn" ajax="false" value="INGRESAR" update="@all" />

            </p:panel>

        </h:form>
    </h:body>
</html>

