<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Menu Administrador</title>
        <style>


        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:panel header="Menu Administrador" style="width: 800px; height:400px;  margin: 100px auto; border-color:#063261; border-width:5px; text-align: center" >
                
                <br style="margin: 45px auto;">
                    <p:commandButton value="Gestionar Naves" action="nave"/>   
                </br>
                <br/>
                
                <br/>
                <br>
                    <p:commandButton value="Volver" action="volver"/>
                </br>
            </p:panel>
        </h:form>
    </h:body>
</html>

