<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Arboles </title>
    </h:head>
    <h:body>
        <h:form>

            <p:panel header="prog3_2018" style=" width: 800px; height:400px;  margin: 100px auto; border-color:#063261; border-width:5px; text-align: center">
                <br style="  margin: 10px auto "/>
                <p:commandButton value="Ir a Árbol ABB" action="abb"/>
                <br/>
                <br/>
                <br/>
                <p:commandButton value="Ir a Árbol N-Ario" action="arboln"/>
                <br/>
                <br/>
                <br/>
                <p:commandButton value="Ir a Árbol AVL" action="avl"/>
                <br/>
                <br/>
                <br/>
                <p:commandButton value="Ir a Juego BatallaNaval" action="batallaNaval"/>
                
            </p:panel>
        </h:form>
    </h:body>
</html>

